<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


	
	<bean id="adminService"
		class="com.dcsh.market.service.AdminServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" /> 
	</bean>
	
	

	
	<!--用户功能--> 
	<bean id="goUserAction" scope="prototype"
	    class="com.dcsh.market.action.user.goUserAction">
	</bean>
    <bean id="updateUserAction" scope="prototype"
	    class="com.dcsh.market.action.user.updateUserAction">
	    <constructor-arg ref="adminService"/>
	</bean>
    <bean id="goSmmdyAction" scope="prototype"
		class="com.dcsh.market.action.user.goSmmdyAction">
		<constructor-arg ref="adminService"/>
	</bean>
</beans>