<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!--
		<context:property-placeholder location="classpath:jdbc.properties"/>  
	-->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="configLocation" value="hibernate.cfg.xml"/>
	</bean>

	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
			
	<tx:annotation-driven/>
	
	<import resource="applicationContext_admin.xml"/>
	<import resource="applicationContext_chuyunchu.xml"/>
	<import resource="applicationContext_zhongzhuanku.xml"/>
	<import resource="applicationContext_zhuchangku.xml"/>
	<import resource="applicationContext_xiaoshou.xml"/>
	<import resource="applicationContext_security.xml"/>
    <import resource="applicationContext_user.xml"/>
    <import resource="applicationContext_timer.xml"/>
    <import resource="applicationContext_aop.xml"/>

	</beans>