<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"   
    default-autowire="autodetect"> 


	<!-- 实例化所有服务类   -->
	<bean id="adminService"
		class="com.dcsh.market.service.AdminServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" /> 
	</bean>
	<bean id="mywareHouseService"
		class="com.dcsh.market.service.WareHouseServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" /> 
	</bean>
	<bean id="XiaoShouService"
		class="com.dcsh.market.service.XiaoshouServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" /> 
	</bean>
	<bean id="ZhongZhuanKuService"
		class="com.dcsh.market.service.ZhongZhuanKuServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" /> 
	</bean>
	<bean id="myZhuChangKuService"
		class="com.dcsh.market.service.ZhuChangKuServiceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" /> 
	</bean>
	

	
	<!-- AOP配置 -->
	<bean id="testAdvice" class="com.dcsh.market.service.AOPTest"/>
	<aop:config>   
        <aop:aspect id="TestAspect" ref="testAdvice">   
            <aop:pointcut id="adminServicepc"  
                expression="execution(* com.dcsh.market.service.AdminServiceImpl.listStorage(..))" />
            <!--  <aop:before pointcut-ref="adminService" method="doBefore"/>   -->
                <aop:after-returning pointcut-ref="adminServicepc" returning="retVal" method="doAfter"/> 
           <!-- <aop:around pointcut-ref="adminService" method="doAround"/>    -->
           <!-- <aop:after-throwing pointcut-ref="adminService" method="doThrowing" throwing="ex"/>    -->
        </aop:aspect>   
    </aop:config>   
	 
</beans>