<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"   
    default-autowire="autodetect"> 
	
	<!-- AOP配置 -->
	<bean id="aopAdvice" class="com.dcsh.market.service.AOPService">
	    <property name="hibernateTemplate" ref="hibernateTemplate" /> 
	</bean>
	
	<aop:config>   
        <aop:aspect id="XSyikuAspect" ref="aopAdvice">   
            <aop:pointcut id="xsyikupc"  
                expression="execution(* com.dcsh.market.service.XiaoshouServiceImpl.doYiku(..)) and args(xsyikuxx)" />
            <aop:after-returning pointcut-ref="xsyikupc" method="doAfterxsyiku"/> 
        </aop:aspect>
        <aop:aspect id="XSfahuoAspect" ref="aopAdvice">   
            <aop:pointcut id="xsfahuopc"  
                expression="execution(* com.dcsh.market.service.XiaoshouServiceImpl.doXsfahuo(..)) and args(xsfahuoxx)" />
            <aop:after-returning pointcut-ref="xsfahuopc" method="doAfterxsfahuo"/> 
        </aop:aspect>
        <aop:aspect id="ZhuangcheAspect" ref="aopAdvice">   
            <aop:pointcut id="zhuangchepc"  
                expression="execution(* com.dcsh.market.service.*Impl.doDeliveryWareHouse(..)) and args(chuku)" />
            <aop:after-returning pointcut-ref="zhuangchepc" method="doAfterchuku"/> 
        </aop:aspect>   
        <aop:aspect id="DaohuoAspect" ref="aopAdvice">   
            <aop:pointcut id="daohuopc"  
                expression="execution(* com.dcsh.market.service.*Impl.doentry*(..,..)) and args(chukumxes,rkxx)" />
            <aop:after-returning pointcut-ref="daohuopc" method="doAfterdaohuo"/> 
        </aop:aspect> 
    </aop:config>   
	 
</beans>